{% extends 'base.html.twig' %}

{% block title %}Liste de Livres{% endblock %}

{% block body %}
    <h1>Liste de Livres</h1>
    <div>
        <a href="{{ path('livre_new') }}"
           class="btn btn-primary" id="btnAjout">
            Ajouter un nouveau livre
        </a>
        <a href="{{ path('homepage') }}"
           class="btn btn-secondary" id="btnRetour">
            Retourner à la page d'accueil
        </a>
    </div>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Affiche du Livre</th>
                <th>Titre du Livre</th>
                <th>Genre du Livre</th>
                <th>Date de publication du Livre</th>
                <th>Note du Livre</th>
                <th>Commentaire sur le Livre</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.titreLivre }}</td>
                <td>{{ livre.genreLivre }}</td>
                <td>{{ livre.dateLivre ? livre.dateLivre|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ livre.afficheLivre }}</td>
                <td>{{ livre.noteLivre ? livre.noteLivre : 'Aucune note'}}</td>
                <td>{{ livre.commentaireLivre ? livre.commentaire : 'Aucun commentaire'}}</td>
                <td>
                    <a href="{{ path('livre_edit',
                        {'id': livre.id}) }}" class="btn btn-primary">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('livre_delete_view',
                        {'id': livre.id}) }}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
